.nav ul li:nth-child(4) {
    border-bottom: 3px #0099ff solid;
}

.content {
    width: 1000px!important;
    padding-top: 70px;
}

.Fget {
    position: fixed;
    width: 190px;
    left: 50%;
    top: 300px;
    margin-left: 520px;
    border: 2px solid #000;
    /*background: rgba(221, 223, 226,.4);*/
}

.Fget dt {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.Fget dd {
    text-align: center;    
    margin-top: 8px;
}


#music {

}



h1 {
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}